body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#board{
    position: relative;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Backgrounds/colored_grass.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#board2{
    position: relative;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Backgrounds/blue_grass.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player{
    position: absolute;
}

.enemy{
    position: absolute;
}

.platform{
    height: 8vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
}

.platform img{
    width: calc(100% / 3);
}

#platform1{
    position: absolute;
    bottom: 30vh;
    left: 10vw;
}

#platform2{
    position: absolute;
    bottom: 30vh;
    left: 70vw;
}

#platform3{
    position: absolute;
    bottom: 60vh;
    left: 40vw;
}

#puntos{
    position: absolute;
    font-size: xx-large;
    left: 0;
    top: 0;
}

#puntuacion{
    margin-top: 0;
}