body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#board{
    position: relative;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Backgrounds/colored_grass.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#board2{
    position: relative;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Backgrounds/blue_grass.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#player{
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.stand{
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Players/Variable sizes/Blue/alienBlue_stand.png');
}

.walk{
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Players/Variable sizes/Blue/alienBlue_walk1.png');
}

.duck{
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Players/Variable sizes/Blue/alienBlue_duck.png');
}

.jump{
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Players/Variable sizes/Blue/alienBlue_jump.png');
}

.hit{
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Players/Variable sizes/Blue/alienBlue_hit.png');
}

.enemy{
    position: absolute;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Enemies/fly.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.platform{
    height: 8vh;
    width: 20vw;
    display: flex;
    flex-direction: row;
}

.platform img{
    width: calc(100% / 3);
}

#platform1{
    position: absolute;
    bottom: 30vh;
    left: 10vw;
}

#platform2{
    position: absolute;
    bottom: 30vh;
    left: 70vw;
}

#platform3{
    position: absolute;
    bottom: 60vh;
    left: 40vw;
}

#points{
    position: absolute;
    font-size: xx-large;
    left: 0;
    top: 0;
}

#score{
    margin-top: 0;
}

.bullet{
    position: absolute;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Particles/fireball.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.coin{
    position: absolute;
    background-image: url('../assets/kenney_platformer-pack-redux/PNG/Items/coinGold.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}